.map-card {
    display: flex;
    /* justify-content: space-evenly; */
    /* border: black 1px solid; */
    background-color: grey;
    margin: 1px;
    opacity: 0.8;
}

.map-card:hover {
    /* filter: invert(20%) */
    filter: brightness(80%);
}

.map-icon, .text-tiers  {
    width: 10%;
}

.text-name, .text-region{
    width: 25%;
    /* width: 200px; */
}

.checkbox-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.label-container, .checkbox-container-container {
    width: 30%;
}

.text-tiers {
    display:flex;
}
.tier-text-container {
    display:flex;
}
.red {
    color: darkred
}
.yellow {
    color: rgba(255, 255, 0, 0.8)
}
.white {
    color: white
}
.black {
    color: black;
}